.header{
    padding: 30px 0;
    position: sticky;
    top: 0;
}

.top-nav{
    display: flex;
    justify-content: end;
    gap: 5rem;
}

.links a, .links-mobile a{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

i.fa-bars, .full-screen-nav {
    display: none;
}



@media screen and (max-width: 600px) {
    i.fa-bars, i.fa-times {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .links a{
        display: none;
    }
    .full-screen-nav{
        display: block;
        font-size: 32px;
        
    }
}